body{
    background-image: url(../../Imagenes/WhatsApp\ Image\ 2024-06-26\ at\ 10.37.55\ PM.jpeg);
    background-size: cover;
}
.navbar{
    background-color: rgba(195, 222, 245, 0.603);
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
}
a{
    margin-left: 3px;
    margin-right: 3px;
}
img{
    border-radius: 30px;
}
.container{
    background-color: rgba(147, 190, 231, 0.621);
    margin-top: 30px;
    border-radius: 20px;
}
h1{
    text-align: center;
}